# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vsidx
*.dbmdl
*.bak

# Visual Studio config and temp
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
*.g.cs
*.g.i.cs
*.tmp
*.ide

# Rider / JetBrains
.idea/
*.iml

# Other
*.dswa.cache.json
project.assets.json
project.nuget.cache
